
<ion-header class="ion-padding">
  <ion-icon name="chevron-back-outline" class="icon-back"routerLink="/auth/reset-password">
  </ion-icon>
</ion-header>
<ion-content class ="ion-padding">
  <ion-item-group class ="wrapper__icon">
    <img src="assets/img/auth/key.svg" alt="" class="icon-key">
    <ion-label class="header__label">NEW PASSWORD</ion-label>
  </ion-item-group>
 <form [formGroup] = "formNewPass" (ngSubmit)="onSubmit()">
    <ion-item-group class = "content__wrapper">
      <ion-item-group class ="content__wrapper-input">

        <ion-icon name="lock-closed-outline" class ="ion-lock"></ion-icon>
        <input type="{{type}}" class ="content__input" placeholder="New Password" formControlName="password">
      
      <button *ngIf="!showPass" type = "button" (click)="showPassword()" class="btn-change-type">
        <ion-icon name="eye-outline" class="ion-eye"></ion-icon>
      </button>
      <button *ngIf="showPass" type="button" (click)="showPassword()" class="btn-change-type ">
        <ion-icon name="eye-off-outline" class="icon-eye-throught"></ion-icon>
      </button>
      </ion-item-group>
      <div  [style.visibility]="checkpassvalid ? 'visible' : 'hidden'" class="error-messages">{{errormessage}}</div>
      
      <ion-item-group class ="content__wrapper-input">
        <ion-icon name="lock-closed-outline" class ="ion-lock"></ion-icon>
      <input type="{{type2}}" class ="content__input" placeholder="Confirm Password" formControlName="confirmpassword">
      
      <button *ngIf="!showPassConf" type = "button" (click)="showPasswordConf()" class="btn-change-type">
        <ion-icon name="eye-outline" class="ion-eye"></ion-icon>
      </button>
      <button *ngIf="showPassConf" type="button" (click)="showPasswordConf()" class="btn-change-type ">
        <ion-icon name="eye-off-outline" class="icon-eye-throught"></ion-icon>
      </button>
     
    </ion-item-group>
    <div  [style.visibility]="checkconfirm ? 'visible' : 'hidden'" class="error-messages">{{errormessage2}}</div>

    <div  [style.visibility]="checkpasssame ? 'visible' : 'hidden'" class="error-messages ">{{errormessage3}}</div>
   
    <ion-button class ="content__btn-change"  type="submit">Update</ion-button>
    <!--  [disabled] ="!formNewPass.valid" -->
    </ion-item-group>   
  </form>
</ion-content>
