
<ion-header class="ion-padding">
  <ion-icon name="chevron-back-outline" class="icon-back" routerLink="/auth/forgot-password">
  </ion-icon>
</ion-header>

<ion-content class="ion-padding">
  <ion-item-group class="header">
    <img src="assets/img/auth/resetpass.svg" alt="" class="header__lock">
      <ion-label class="header__label">RESET PASSWORD !</ion-label>
      <ion-label class="header__label--code"> Enter code we have sent to email</ion-label>
      <ion-label class="header__label--email">
        {{dataEmail.email}}
      </ion-label>
      <ion-label class="header__label--wrong"[style.visibility]="error ? 'visible' : 'hidden'" >Wrong code! Try again</ion-label>
  </ion-item-group>
  <ion-row>
    <ion-col class ="digit-code">
      <form [formGroup]="inputCode"(ngSubmit)="onSubmit()">
        <input id="code1" class="digit-code__input" (keyup)="keytab($event, 'code1', 'code1', 'code2')" type="number" formControlName="code1"  >
        <input id="code2" class="digit-code__input" (keyup)="keytab($event, 'code1', 'code2', 'code3')" type="number" formControlName="code2"  >
        <input id="code3" class="digit-code__input" (keyup)="keytab($event, 'code2', 'code3', 'code4')" type="number" formControlName="code3" >
        <input id="code4" class="digit-code__input" (keyup)="keytab($event, 'code3', 'code4', 'code5')" type="number" formControlName="code4" >
        <input id="code5" class="digit-code__input" (keyup)="keytab($event, 'code4', 'code5', 'code6')" type="number" formControlName="code5" >
        <input id="code6" class="digit-code__input" (keyup)="keytab($event, 'code5', 'code6', 'code6')" type="number" formControlName="code6" >
        
        <ion-item-group class="question">
          <ion-label class="question__not-received">
              Didn’t receive the code?
          </ion-label>
          <ion-label class="question__resend-code" (click) ="resendCode()">
              Resend Code
          </ion-label>
        </ion-item-group>
        <ion-button class="btn-signin" appResetPassword type="submit" [disabled]="!inputCode.valid">Procced</ion-button>
      </form>
    </ion-col>
  </ion-row> 
</ion-content>
