.header-md::after {
    height: 0;
}
ion-content {
    --overflow: hidden;
}
.inputcode_ {
    letter-spacing: 32px;
}
.header{
    display: block;
    text-align: center;
    margin-bottom: 30px;
    justify-content: center;
    &__label{
        font-weight: bold;
        font-size: 22px;
        text-align: center;

        &--sub{
            font-weight: lighter;
            font-size: 15px;
            color: 545454, 100%;

            margin-top: 2.8rem;
        }
        &--email{
            font: {
                weight: 700;
                size: 23px;
                margin-top: 0.32rem;
                padding: 0.15rem 0 0.15rem 0;
            }
            color: #545454;
            ;
        }
        &--code {
            margin-top: 15px;
            margin-bottom: 8px;
            
        }
        &--wrong {
            color: red;
            font-size: 22px;
            margin-top: 68px;
        }
    }
    &__lock{
        height: 50px;
        width: auto;
        margin-top: 60px;
        margin-bottom: 7px;
    }
}
.error-message {
    color: var(--main-color);
    font-size: 16px;
}
.icon-back {
    font-size: 20px;
    margin-top: 16px;
    color: #656565;
}
.digit-code{
    text-align: center;
    font-size: 23px;
    font-weight: 400;
    padding: 0.15rem 0 0.15rem 0;
    width: 50px;
    border-bottom: 100px;

    &__input{
        outline: none;
        display:inline-block;
        width: 48px;
        height: 50px;
        font-size: 23px;
        border: 0;
        font-weight: 400;
        margin: 0px 4px;
        --padding-start:7px;
        border-bottom: 2px solid #1c1939;
 }
}
.question{
    font-size: 15px;
    text-align: center;
    margin-top: 32px;
    &__resend-code{
        font-size: 16px;
        width: 29%;
        height: 20px;
        --background: none;
        text-transform: lowercase;
        --color: black;
        margin: 0 auto;
        border-bottom: 1px solid #422E31;
    }
    &__not-received {
        margin-bottom: 14px;
    }
}

.btn-signin {
    width: 100%;
    border-radius: 4px;
    --background: var(--main-color);
    color: white;
    margin-top: 36px;
    height: 40px;
    margin-inline-start: 0;
    margin-inline-end: 0;
    --background-activated: var(--main-color); 
  }
  @media screen and (max-width: 414px) {
      .question{
        &__resend-code{
            width: 27.5%;
        }
    }
  }
      @media screen and (max-width: 375px) {
      .question{
        &__resend-code{
            width: 28.5%;
        }
    }
  }
  @media screen and (max-width: 360px) {
    .header {
        &__lock{
            margin-top: -12px;
        }
    }
    .digit-code{
        &__input{
            width: 36px;
     }
    }
    .question{
        &__resend-code{
            // width: 31%;
            border-bottom: 1px solid #422E31;
        }
    }
 }
  @media screen and (max-width: 320px) {
    ion-header {
        height: 48px;
    }
    .header {
        &__lock{
            margin-top: -12px;
        }
    }
    .digit-code{
        &__input{
            width: 40px;
     }
    }
    .question{
        &__resend-code{
            width: 37%;
        }
    }
    .question__not-received {
        margin-bottom: 14px;
        font-size: 16px;
    }
 }
 
