<ion-header>
  <ion-buttons>
    <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    <ion-label>Information product</ion-label>
  </ion-buttons>

  <ion-card class="product">
    <ion-card-content>
      <div class="img-box">
        <ion-img *ngIf="loadedProduct" [src]="product.thumb_image.url"></ion-img>
        <ion-button size="small" class="detail-button" (click)="goToDetail()" *ngIf="loadedProduct">
          Detail
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        </ion-button>
      </div>
      <ion-card-subtitle style="font-size: 10px; margin-bottom: -26px;">
        <ion-label *ngIf="loadedProduct">
          #
        </ion-label>
        {{product.code}}</ion-card-subtitle>
      <ion-card-subtitle [innerHTML]="product.name" class="three-dot"></ion-card-subtitle>
      <p class="des"  [innerHTML]="product.short_description">
      </p>
    </ion-card-content>
  </ion-card>
  <!-- for ios device -->
 
</ion-header>

<ion-content>
  <img src="assets/detail-product/add-btn.svg" class="add-product-button" (click)="addProduct()">
  
  <div class="cart-wrapper" (click)="goToCart()" *ngIf="!checkGuestPermission()">
    <img src="assets/detail-product/cart.svg" class="cart-btn">
    <span>+{{ cartItems.length }}</span>
  </div>

  <p class="absolute-center absolute-center-text" *ngIf="accessories.length == 0">Not found
    accessories.</p>
  <span class="no-internet-popup" *ngIf="!isOnline">No internet connection</span>
  <img src="assets/detail-product/add-btn.svg" class="add-product-button" (click)="addProduct()"
    *ngIf="!checkGuestPermission()">

  <ion-card class="accessories" *ngIf="accessories.length != 0">
    <ion-card-header class="ion-text-center">
      <span *ngIf="!checkGuestPermission()">Add product</span>
    </ion-card-header>

    <ion-card-content>
      <ion-item class="accessories-heading">
        <span>Accessories</span>
        <!-- <ion-button class="add-all-button" slot="end" (click)="selectAllItem()" *ngIf="!checkGuestPermission()">
          Add all accessories
          <ion-icon name="add-circle-outline" slot="end"></ion-icon>
        </ion-button> -->
      </ion-item>
    </ion-card-content>

  </ion-card>

  <ion-grid>
    <ion-row *ngFor="let accessory of accessories; let i = index;"
      [style.background]="getItem(accessoryIds[i]).background" (click)="addAccessory(accessory)">
      <ion-col size="4">
        <ion-img class="accessory-img" [src]="accessory.thumb_image.url"
          [style.height.px]="(scrWidth - 33.67) / 3 - 10"></ion-img>
      </ion-col>
      <ion-col size="8">
        <div class="content-block" [style.color]="getItem(accessoryIds[i]).color">
          <ion-label style="font-size: 12px; font-weight:bold;">#{{accessory.code}}</ion-label>

          <ion-label [innerHTML]="accessory.name"></ion-label>
          <p [innerHTML]="accessory.description">
            
          </p>
        </div>
      </ion-col>

      <img *ngIf="!checkGuestPermission()" src="assets/add-btn.svg"
        class="add-accessory-btn">
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll #infinityScroll (ionInfinite)="loadMoreAccessories()">
    <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>