<ion-header class="ion-padding">
  <ion-row no-lines>
    <ion-col class="ion-heading">
      <ion-back-button text="" icon="chevron-back-outline" defaultHref="/notification"></ion-back-button>
        <ion-label class="ion-heading__element__text">NOTIFICATIONS</ion-label>
        <!-- <ion-icon name="notifications-outline" class="noti-bell"></ion-icon> -->
    </ion-col>
</ion-row>
</ion-header>

<ion-content scroll="false">
  <ion-item class="item__promotion" lines="none" (click)="gotoNoti()">
    <ion-icon name="settings-outline" class="item__promotion-icon" slot="start">
    </ion-icon>
    <ion-label class="item__promotion-text">
      <ion-label class="item__promotion-title">Promotions</ion-label>
      <ion-label class="item__promotion-text--des">Promotions information, Promotions information</ion-label>
    </ion-label>
    <ion-note class="item__promotion-amount">
      99+
    </ion-note>
  </ion-item>
  <ion-item class="item__promotion" lines="none" (click)="gotoNotiStatus()">
    <ion-icon name="list-outline" class="item__promotion-icon"></ion-icon>

    <ion-label class="item__promotion-text">
      <ion-label class="item__promotion-title">Order status</ion-label>
      <ion-label class="item__promotion-text--des">Order status, Order status</ion-label>
    </ion-label>
    <ion-note class="item__promotion-amount">
      99+
    </ion-note>
  </ion-item>

  <ion-item class="item__promotion" lines="none" (click)="gotoNotiTracking()">
    <ion-img src="assets/img/noti/delivery.svg" class="item__promotion-icon item__promotion-icon--delivery">
    </ion-img>

    <ion-label class="item__promotion-text">
      <ion-label class="item__promotion-title">Tracking</ion-label>
      <ion-label class="item__promotion-text--des">Tracking infomation, Tracking infomation,</ion-label>
    </ion-label>
    <ion-note class="item__promotion-amount">
      99+
    </ion-note>
  </ion-item>
  <ion-item class="item__promotion notifications" lines="none" [ngClass]="doesClick ? 'notifications--active' : ''"
    (click)="toggleActive()">
    <ion-img src="./assets/img/noti/highlight.svg" class="item__promotion-icon item__promotion-icon--highlight">
    </ion-img>
    <ion-label class="item__promotion-text">
      <ion-label class="item__promotion-title">Hightlights notification</ion-label>
    </ion-label>
    <ion-note class="item__promotion-amount item__promotion-highlight" routerLink="">
      See all
    </ion-note>
  </ion-item>

  <ion-item-group class="wrapper__noti" *ngIf="doesClick">
    <ion-item class="item__new-noti" lines="none">
      <ion-item class="item__wrapper" lines="none">
        <ion-label class="item__new-noti--cricle"></ion-label>
        <img src="assets/img/products/11.png" class="item__new-noti--image" lines="none">
        <span class="item__new-noti--text">
          <ion-label class="item__new-noti--title">Title</ion-label>
          <span class="item__new-noti--des">Your item #34353333 status status, Your item #34353333 status status</span>
          <ion-label class="item__new-noti--time">
            <ion-icon name="time-outline" class="item__new-noti--oclock"></ion-icon>
            9:00 mm/dd/yyyy
          </ion-label>
        </span>
      </ion-item>
    </ion-item>
    <ion-item class="item__new-noti" lines="none">
      <ion-item class="item__wrapper" lines="none">
        <ion-label class="item__new-noti--cricle"></ion-label>
        <img src="assets/img/products/11.png" class="item__new-noti--image" lines="none">
        <span class="item__new-noti--text">
          <ion-label class="item__new-noti--title">Title</ion-label>
          <span class="item__new-noti--des">Your item #34353333 status status, Your item #34353333 status status</span>
          <ion-label class="item__new-noti--time">
            <ion-icon name="time-outline" class="item__new-noti--oclock"></ion-icon>
            9:00 mm/dd/yyyy
          </ion-label>
        </span>
      </ion-item>
    </ion-item>
    <ion-item class="item__new-noti" lines="none">
      <ion-item class="item__wrapper" lines="none">
        <ion-label class="item__new-noti--cricle"></ion-label>
        <img src="assets/img/products/11.png" class="item__new-noti--image" lines="none">
        <span class="item__new-noti--text">
          <ion-label class="item__new-noti--title">Title</ion-label>
          <span class="item__new-noti--des">Your item #34353333 status status, Your item #34353333 status status</span>
          <ion-label class="item__new-noti--time">
            <ion-icon name="time-outline" class="item__new-noti--oclock"></ion-icon>
            9:00 mm/dd/yyyy
          </ion-label>
        </span>
      </ion-item>
    </ion-item>
    <ion-item class="item__new-noti" lines="none">
      <ion-item class="item__wrapper" lines="none">
        <ion-label class="item__new-noti--cricle"></ion-label>
        <img src="assets/img/products/11.png" class="item__new-noti--image" lines="none">
        <span class="item__new-noti--text">
          <ion-label class="item__new-noti--title">Title</ion-label>
          <span class="item__new-noti--des">Your item #34353333 status status, Your item #34353333 status status</span>
          <ion-label class="item__new-noti--time">
            <ion-icon name="time-outline" class="item__new-noti--oclock"></ion-icon>
            9:00 mm/dd/yyyy
          </ion-label>
        </span>
      </ion-item>
    </ion-item>
  </ion-item-group>
</ion-content>