<ion-header>
  <ion-buttons class="wrapper">
    <img src="assets/icon/logo.svg" alt="" (click)="gotoHome()">
    <ion-buttons class="icon-box">
      <ion-icon name="notifications-outline" (click)="goToNoti()"></ion-icon>
      <ion-icon name="person-outline" (click)="goToUserInfo()"></ion-icon>
    </ion-buttons>
  </ion-buttons>
  <ion-searchbar (ionInput)="onInput($event)" autocorrect="off" [value]="inputValue"
    [ngClass]="checkSystem ? 'margin-search':''"></ion-searchbar>
</ion-header>

<ion-content [style.--padding-top.px]="!isOnline ? 32 : 0">
  <span class="no-internet-popup" *ngIf="!isOnline">No internet connection</span>
  <ion-spinner class="absolute-center" *ngIf="isLoading"></ion-spinner>
  <p class="absolute-center absolute-center-text" *ngIf="data.length == 0 && !isLoading">Not found categories.</p>
  <ion-grid>
    <ion-backdrop *ngIf="data.length == 0 || isLoading"></ion-backdrop>
    <ion-row *ngFor="let item of data; let i = index">
      <ion-col size="4" (click)="goToDetail(data[i])" *ngIf="i % 3 == 0">
        <ion-img [src]="data[i].thumb_image.url" [style.height.px]="(scrWidth - 40) / 3"></ion-img>
        <span [innerHTML]="data[i].name"></span>
      </ion-col>
      <ion-col size="4" (click)="goToDetail(data[i + 1])" *ngIf="i % 3 == 0 && i < data.length - 1">
        <ion-img [src]="data[i + 1].thumb_image.url" [style.height.px]="(scrWidth - 40) / 3"></ion-img>
        <span [innerHTML]="data[i+1].name" ></span>
      </ion-col>
      <ion-col size="4" (click)="goToDetail(data[i + 2])" *ngIf="i % 3 == 0 && i < data.length - 2">
        <ion-img [src]="data[i + 2].thumb_image.url" [style.height.px]="(scrWidth - 40) / 3"></ion-img>
        <span [innerHTML]="data[i+2].name "></span>
      </ion-col>
    </ion-row>
    <ion-infinite-scroll [style.opacity]="data.length == 0 || isLoading ? 0 : 1" #infinityScroll
      (ionInfinite)="loadData()">
      <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>
</ion-content>