
<ion-content class="ion-padding">
  <ion-item-group class="header__wrapper">
    <ion-avatar class="header__icon">
      <ion-icon name="checkmark-outline" class="icon-check"></ion-icon>
    </ion-avatar>
    <ion-label class="header__label">{{title}}</ion-label>
  </ion-item-group>
  <ion-item-group class="question__wrapper">
    <ion-label class="question">{{des}}</ion-label><br />
    <ion-button class="btn-signin" type="submit" (click)="linkRouter()">Continue</ion-button>
  </ion-item-group>
</ion-content>