ion-header {
  text-align: center;

  ion-toolbar {
    padding-top: 12px;
    padding-bottom: 12px;

    ion-label {
      font-size: 23px;
      font-weight: 700;
      color: #3f3f3f;

      @media screen and (max-width: 376px) {
        font-size: 20px;
      }
    }

    ion-icon {
      color: #3f3f3f;
      font-size: 24px;
      margin-left: 10px;
    }
  }
}

ion-content {
  border-top: 4px solid #e8e8e8;

  ion-item-group {
    border-bottom: 2px solid #e8e8e8;
    --background: white;
    padding-top: 15px;
    padding-bottom: 15px;

    ion-item {
      --padding-start: 50px;
      --padding-end: 50px;

      ion-label {
        color: #424242;
        font-size: 14px;
      }

      ion-icon {
        background: #aaaaaa;
        color: white;
        border-radius: 50%;
        font-size: 19px;
        
      }
    }

    p {
      padding: 0 30px;
      text-align: justify;
      font-size: 12px;
      line-height: 18px;
      color: #424242;
    }
  }
}
