.header-ios ion-toolbar:last-of-type {
  --border-width: 0 0 0px;
  height: 35px;
  --padding-bottom: 0;
  --padding-end: 0;
  --padding-start: 0;
  --border: 0;
  --padding-top:0;
  --border-width: 0;

}
.change-password--title {
  font-weight: bold;
  color: #3F3F3F;
}
.header-md::after {
  height: 0;
}
ion-content {
    --overflow: hidden;  
   .difference {
     color: var(--main-color);
     margin: 6px 0;
     font-size: 12px;
   }
    .error-messages {
      height: 15px;
      font-size: 13px;
      color: var(--main-color);
    }
    .not-match-pass {
      margin-left: -16px;
      color: var(--main-color);
      font-size: 13px;
      height: 30px;
      font-family: sans-serif;
    }
  
    .btn-change-type {
        color: #CECECE;
        top: 12px;
        right: 11px;
        position: absolute;
        border-radius: 25px;
        background-color: #f7f7f7;
        z-index: 2;
    }
    .content__wrapper {
        .content__label-input--des {
            color: #a8afbc;
            font-size: 11px;
            margin-bottom: 13px;
        }
        &-input {
            display: flex;
            background-color: #F7F7F7 ; 
            border-radius: 11px;
            margin-bottom: 24px;
            position: relative;
            .ion-eye {
                color: #d1d1d1;
                font-size: 17px;
            }
            .icon-eye-throught {
                font-size: 17px;
            }
            &:focus {
                outline: none;
            }
            .content__input {
                height: 42px;
                color: #a8afbc;
                font-size: 16px;
                border: 0;
                border-radius: 11px;
                background-color: #F7F7F7;
                padding: 0 6px;
                outline: none;
                width: 100%;
                &:focus {
                outline: none;
                background-color: white;
                border: 1px solid #5E656F;
                }
            }
        }
        &-label {
            display: flex;
            margin-top: 15.3px;
            margin-bottom: 16px;
        }
        .content__label-input {
            color: #6B6C6D;
            font-size: 13px;
            margin-right: 10px;
            outline: none;
            font-family: 'Open Sans', sans-serif;
        }
       
        .content__label-valid {
            color: red;
        }
        .content__btn-change {
            width: 100%;
            --background-color: #c90a1b;
            border-radius: 4px;
            --background: #c90a1b;
            color: white;
            margin-top: 10px;
            margin-bottom: 18px;
            height: 42px;
            margin-inline-start: 0;
            --background-activated: var(--main-color); 
            margin-inline-end: 0;
        }
        .content__btn-change.content__btn-cancel {
            --background-color: white;
            margin-top: 0px;
            --background-activated: white; 
            --background: white;
            color: #aeb2b5;
        }
    }
}
button-text {
    color: white;
}
ion-header {
    height: 50px;
    font-size: 32;
    .icon-back {
        font-size: 26px;
        color: #656565;
    }
    .title {
      font-size: 20px;
      text-align: center;
      padding: 0;
  }
}
@media screen and (max-height: 824px) {
  
    .section__button {
      margin-left: 9.5rem;
    }
    .section__sub {
      .item__cancel {
        width: 11px;
        left: 56%;
      }
    }
  }
  @media screen and (max-height: 812px) {
    .section__button {
      margin-left: 8.5rem;  
    }
    .section__sub {
      .item__cancel {
        width: 10px;
        left: 52%;
      }
    }
  }
  
  @media screen and (max-height: 736px) {
    .section__button {
      margin-left: 9.6rem;
    }
    .section__sub {
      .item__cancel {
        width: 11px;
        left: 56.5%;
      }
    }
  }
  @media screen and (max-height: 732px) {
    .section__button {
      margin-left: 9.6rem;
    }
  }
  @media screen and (max-height: 667px) {
    .section__button {
      margin-left: 8.5rem;
    }
    .section__sub {
      .item__cancel {
        width: 11px;
        left: 52.5%;
      }
    }
  }

  @media screen and (max-height: 641px) {
    .section__button {
      margin-left: 7.9rem;
    }
    ion-content {
      .content__wrapper-input {
        .content__input  {
          height: 36px !important;
        }
      }
    }
  }
  @media screen and (max-height: 569px) {
    ion-header {
      height: 37px;
    }
    ion-content {
      .content__wrapper-input {
        margin-bottom: 10px;
        .content__input  {
          height: 35px;
        }

      }
      .btn-change-type {
        top: 7px;
      }
      .content__wrapper-label {
        margin-top: 7px;
        margin-bottom: 8px;
      }
      .content__wrapper {
        .content__btn-change {
         
          margin: 0;
          margin-top: 10px;
          height: 37px;
        }
      }

    }
    .section__button {
      margin-left: 6.6rem;
    }
    .section__sub {
      .item__cancel {
        width: 10px;
        left: 45%;
      }
    }
  }
  