<ion-header class="ion-padding">
  <ion-buttons>
    <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    <ion-label> SUPLIER</ion-label>
  </ion-buttons>

  <ion-item-group>
    <ion-icon name="notifications-outline" class="header__icon header__icon-noti" (click)="goToNoti()"></ion-icon>
    <ion-icon name="person-outline" class="header__icon " (click)="goToUserInfo()"></ion-icon>
  </ion-item-group>
</ion-header>

<ion-content class="ion-padding">
    <ion-item-group class="supplier__des-group">
      <ion-item-divider class="supplier__image">
        <img src="assets/supplier.png" alt="" class="supplier__img" >
      </ion-item-divider>
      <ion-item-divider class="supplier__des" >
        <ion-label slot="start" class="supplier__name">Resato</ion-label>
        <span slot="end" class="supplier_info">Resato can offer you a tailor-made maintenance contract for your waterjet cutting machine.
           By carrying out preventive maintenance, you have a higher operational, By carrying out preventive maintenance, you have a higher operational  </span>
      </ion-item-divider>
    </ion-item-group>
    <ion-item-group class="supplier__des-group">
      <ion-item-divider class="supplier__image">
        <img src="assets/supplier.png" alt="" class="supplier__img" >
      </ion-item-divider>
      <ion-item-divider class="supplier__des" >
        <ion-label slot="start" class="supplier__name">Resato</ion-label>
        <span slot="end" class="supplier_info">Resato can offer you a tailor-made maintenance contract for your waterjet cutting machine.
           By carrying out preventive maintenance, you have a higher operational, By carrying out preventive maintenance, you have a higher operational  </span>
      </ion-item-divider>
    </ion-item-group>
  
    
       
</ion-content>
