<ion-header>
  <ion-buttons>
    <ion-back-button *ngIf="hasBackButton()" text="" icon="chevron-back-outline" (click)="goBack()"></ion-back-button>
    <ion-label>Shopping cart</ion-label>
  </ion-buttons>
</ion-header>

<ion-content [style.height]="getIonContentAttribute(80).height" [style.bottom]="getIonContentAttribute(80).bottom"
  [style.--padding-top.px]="!isOnline ? 32 : 0">
  <span class="no-internet-popup" *ngIf="!isOnline">No internet connection</span>
  <p class="absolute-center absolute-center-text" *ngIf="cartItems.length == 0">Empty cart.</p>

  <ion-card class="cart-item" *ngFor="let item of cartItems; let i = index;">
    <ion-icon name="close-outline" class="remove-btn" (click)="openModalRemove(item)"></ion-icon>
    <ion-buttons class="item-header">
      <ion-buttons (click)="toggleSelected(cartItemsSelected[i])">
        <span class="selected-btn" [style.background]="cartItemsSelected[i].selected ? '#91E29B' : 'white'"></span>
        <ion-label class="item-name" >{{ item.name }}</ion-label>
      </ion-buttons >
      <ion-buttons class="item-price"*ngIf="item.price != 0">
        <ion-label class="product__price-unit">$</ion-label>{{ item.price * item.amount | number: '1.2-2' }}
      </ion-buttons>
      <ion-buttons class="item-price" *ngIf="item.price == 0">
       RFQ
      </ion-buttons>
    </ion-buttons>
    <ion-buttons class="ion-justify-content-end">
      <!-- <ion-img [src]="item.url" class="item-img"></ion-img> -->
      <ion-item-group class="ion-text-center">
        <div class="modifier">
          <span class="modifier-btn" (click)="decreaseAmount(item)">-</span>
          <span class="counter">{{ item.amount }}</span>
          <span class="modifier-btn" (click)="increaseAmount(item)">+</span>
        </div>
      </ion-item-group>
    </ion-buttons>
    <ion-buttons class="ion-justify-content-end ion-margin-top ion-margin-end">
      <img src="assets/shopping-cart/deliver-black.svg" class="delivery-icon">
      <span class="delivery-day">1 day</span>
    </ion-buttons>
    <ion-buttons class="total-group">
      <span *ngIf="item.price != 0">
        <ion-label class="product__price-unit">$</ion-label>
        {{ item.price * item.amount | number: '1.2-2' }}
      </span>
      <span *ngIf="item.price == 0">
        RFQ        
      </span>
      <span class="separation"></span>
      <span *ngIf="item.kind == 'Product'">{{ item.amount }} products</span>
      <span *ngIf="item.kind == 'Accessory'">{{ item.amount }} accessories</span>
    </ion-buttons>
  </ion-card>
</ion-content>

<ion-footer *ngIf="cartItems.length != 0">
  <ion-buttons class="footer-inner">
    <ion-buttons class="selected-all-group" (click)="toggleSelectAll()">
      <span class="selected-btn" [style.background]="checkAllSelected() ? '#91E29B' : 'white'"></span>
      <span class="selected-all-label">All</span>
    </ion-buttons>
    <ion-item-group class="total-product-group">
      <span class="total-product-label">Total:</span>
      <span class="total-product">{{ calSelectedProducts() }} products</span>
      <span class="total-accessory">{{ calSelectedAccessories() }} accessories</span>
      <span class="total-price"></span>
    </ion-item-group>
    <ion-button class="btn-send" [disabled]="checkAllNotSelected()" (click)="goToSelectedItems()">Send a quote
    </ion-button>
  </ion-buttons>
</ion-footer>